#form {
    background-color: rgba(36, 36, 36, 0.5);
    /* White-gray transparent background */
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    /* Allow items to wrap to the next line */
    justify-content: space-between;
}

fieldset {
    border: none;
    width: 100%;
    /* Ensure the fieldset takes up the full width */
}

legend {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
}

.input-container {
    width: calc(50% - 15px);
    /* Adjust the width as needed */
    box-sizing: border-box;
}


input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: calc(100% - 80px);
    /* Adjust the width as needed */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
    /* Allow vertical resizing */
}

.button-container {
    width: 100%;
    text-align: right;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

label {
    font-weight: bold;
    color: white;
}

