.project-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.project-card {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    width: 275px;
    height: 350px;
    perspective: 1000px;
    transition: transform 0.5s, height 0.5s, box-shadow 0.3s;
    background-image: url('../assets/GitHub-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color:rgba(36, 36, 36, 0.5);;
    box-shadow: 0px 25px 20px 15px #080808c5;
}
.project-card:hover {
    transform: scale(1.05) perspective(1000px) rotateY(3deg);
    box-shadow: none; /* Remove the box shadow on hover */
}



.project-card::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    margin: -2px; /* Pull the pseudo-element just outside the project-card boundaries */
    border-radius: inherit; /* If your .project-card has a border-radius */
    background: linear-gradient(60deg, red, orange, blue, indigo, red, orange, blue, indigo, violet);
    background-size: 300% 300%; /* Large size to allow for the background-position animation */
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s; /* Set the transition for the opacity */
}

.project-card:hover::after {
    opacity: 0.15; /* Make the pseudo-element visible with the gradient visible */
    animation: moveGradient 4s linear infinite;
}

@keyframes moveGradient {
    0% {
        background-position: 0% 50%;        
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.project-card a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
}

.project-title-container {
background-color: white;
}
.project-title {
    margin-top: 0;
    margin-bottom: 10px;
    color: #000000;
    position: relative;
}



.project-languages {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(36, 36, 36, 0.5);;
    padding: 10px 0;
}

.project-languages div {
    font-size: 12px;
    color: #333;
    padding: 5px 10px;
    margin: 0 5px; 
    border-radius: 4px;
    background-color: #f0f0f0;
}

.project-languages div:first-child {
    margin-left: 0;
}

.project-languages div:last-child {
    margin-right: 0;
}

.containermaster {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    height: 100vh; /* Set the height to 100% of viewport height */
    padding-top: 5rem;
}
