nav {
  position: fixed;
  top: 0;
  right: 0; 
  z-index: 1000; 
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  padding: 10px; 
  width: 100%;
  background-color: rgba(65, 65, 65, 0.8); /* Added background for better visibility */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; 
}

li {
  margin-left: 20px; 
  color: white;
}

NavLink {
  text-decoration: none;
  color: #ffffff; /* Changed to white for better contrast */
  font-weight: bold;
  font-size: 18px;
}

NavLink:hover {
  color: #95CFEE;
}

/* Media query for mobile screens */
@media (max-width: 768px) {
  nav {
    justify-content: center; /* Center items on smaller screens */
    padding: 5px; /* Reduce padding */
  }

  ul {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items */
  }

  li {
    margin: 10px 0; /* Add vertical margin */
  }

  NavLink {
    font-size: 16px; /* Reduce font size */
  }
}
