nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure Navbar is above other content */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px; /* Adjust padding as needed */
  }
  
  nav img {
    width: 12vw; /* Adjust logo size as needed */
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline;
    margin-right: 2vw; /* Adjust spacing between links as needed */
  }
  
  NavLink {
    text-decoration: none;
    color: #333; /* Adjust link color as needed */
    font-weight: bold; /* Adjust font weight as needed */
  }
  
  NavLink:hover {
    color: #555; /* Adjust link color on hover as needed */
  }
  